
/** Color monserrat**/
.monserrat-color{
	/* color monserrrat:  color:#78251d; */
	color:#174C19;
	/* color verde yacare: 7CA730*/
}

.card-shadow{
	box-shadow: 5px 5px 5px #9B9B9B;
}

/** Ancho del contendor de la pagina**/
.container {
    max-width: 970px;
  }

/** Margenes de la barra superior**/
.header{
  margin-bottom: 10px;
}


/** Estilos de Tabs**/
.tab-yacare{
	width: 24.7%;
	text-align: center;
	margin-bottom: 10px;
}

.tab-a-yacare{
	padding: 15px 10px;
	color: white;
	background-color: rgba(23, 76, 25, 0.5);
	/* color monserrat  background-color: rgba(120, 37, 29, 0.5);*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	color: #fff;
	background-color: #174C19;
}

a:hover{
	color: #174C19;
}


/** Contenedor de perfil de alumno**/
.profile-container{
	 max-width: 100%;
	 background-color: #eee;
	 border-radius: 6px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 230px;
	
}

/** Contenedor de perfil de tutor**/
.profile-container-tutor{
	 max-width: 100%;
	 background-color: #eee;
	 border-radius: 6px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 240px;
}

.profile-container-emergencia{
	 max-width: 100%;
	 background-color: #eee;
	 border-radius: 6px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 190px;
	
}

/** Imagen de perfil de alumno**/
.profile-img{
	width: 200px;
	height: 200px;
}

/** Boton Editar perfil alumno**/
.edit-button{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 4px;
    border: 0px;
}

.edit-button:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

/** Boton Editar perfil tutor**/
.edit-button-tutor{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 135px;
    border: 0px;
}

.edit-button-tutor:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.edit-button-perfil-alumno{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 9px;
    border: 0px;
}

.edit-button-perfil-alumno:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.edit-button-direccion-alumno{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 80px;
    margin-left: 78px;
    border: 0px;
}

.edit-button-direccion-alumno:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.edit-button-emergencia{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 85px;
    border: 0px;
}

.edit-button-emergencia:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;	
}

/** Estilos para los inputs de los formularios**/
.row-form{
	display: inline-block;
	width: 100%;
}

/** Boton guardar***/
.save-button{
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #174C19;
	color: #fff;
}

.save-button:hover{
	color: #174C19;
}

/** Boton agregar otro tutor**/
.add-tutor-button{
	display: block;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #174C19;
	color: #fff;	
}

.add-tutor-button:hover{
	color: #174C19;
}


/** Estilos de los botones del modal **/
.btn-primary {
    color: #FFF;
    background-color: #174C19;
    border-color: #174C19;
}

.btn-primary:hover {
    background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.modal-dialog{
	width: 700px;
}


/** re definicion de colores de modal **/
.modal-header{
	background-color: #174C19;
	color: #fff;
}