
/** Color monserrat**/
.monserrat-color{
	/* color monserrrat:  color:#78251d; */
	color:#174C19;
	/* color verde yacare: 7CA730*/
}


/** Ancho del contendor de la pagina**/
.container {
    max-width: 970px;
  }

/** Margenes de la barra superior**/
.header{
  margin-bottom: 10px;
}


/** Estilos de Tabs**/
.tab-yacare{
	width: 24.7%;
	text-align: center;
	margin-bottom: 10px;
}

.tab-a-yacare{
	padding: 15px 10px;
	color: white;
	background-color: rgba(23, 76, 25, 0.5);
	/* color monserrat  background-color: rgba(120, 37, 29, 0.5);*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	color: #fff;
	background-color: #174C19;
}

a:hover{
	color: #174C19;
}


.container_gral{
	display: inline-block;
	width: 100%;
	background-color: #eee;
	border-radius: 6px;
	box-shadow: 5px 5px 5px #9B9B9B;
	
	/** separacion del contenedor al texto **/
	padding-top: 15px;
	padding-bottom: 15px;

	/** separacion entre contenedores **/
	margin-bottom: 20px;
}

/** Imagen de perfil de alumno**/
.profile-img{
	width: 200px;
	height: 200px;
}

/** Boton Editar perfil alumno**/
.edit-button{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 4px;
    border: 0px;
}

.edit-button:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

/** Boton Editar perfil tutor**/
.edit-button-tutor{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 135px;
    border: 0px;
}

.edit-button-tutor:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.edit-button-perfil-alumno{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 9px;
    border: 0px;
}

.edit-button-perfil-alumno:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.edit-button-direccion-alumno{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    margin-top: 80px;
    margin-left: 78px;
    border: 0px;
}

.edit-button-direccion-alumno:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
}

.edit-button-emergencia{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    border: 0px;
    margin-top: 20px;
}

.edit-button-emergencia:hover{
	background-color: rgba(23, 76, 25, 0.5);
	color: #fff;	
}

/** Estilos para los inputs de los formularios**/
.row-form{
	display: inline-block;
	width: 100%;
}

/** Boton guardar***/
.save-button{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	background-color: #174C19;
	color: #fff;
}

.save-button:hover{
	color: #174C19;
}

/** Boton agregar otro tutor**/
.add-tutor-button{
	display: block;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #174C19;
	color: #fff;	
}

.add-tutor-button:hover{
	color: #174C19;
}


/** Estilos de los botones del modal **/
.btn-default:focus{
	background-color: rgba(23, 76, 25, 0.78);
	color: #fff;
    border: 0px;
}


.btn-primary {
    color: #FFF;
    background-color: #174C19;
    border-color: #174C19;
}

.btn-primary:hover {
    background-color: rgba(23, 76, 25, 0.5);
	color: #fff;
	border: 0px;
}

.btn-primary:focus{
	color: #FFF;
    background-color: #174C19;
    border-color: #174C19;
}

.select-option {
	box-shadow: #5cb85c 0px 2px 14px;
}

.modal-dialog{
	width: 700px;
}

.modal-dialog-tutor{
	width: 970px;
}




/** re definicion de colores de modal **/
.modal-header{
	background-color: #174C19;
	color: #fff;
}

/**IMAGEN DE PERFIL*/
div.image-container{
    position: relative;
}
a.link{
    text-decoration: none;  
    position: relative;
    display: block;
}

a.link span.overlay-image{
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5); /* black background with 20% alpha */
    color: white;
    padding-top: 70px;
}

a.link span.overlay-image:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;   
}

a.link:hover span.overlay-image img{
    display: inline;  
    vertical-align: middle;     
}

a.link:hover span.overlay-image{
    visibility: visible;
}


/**estilos para boton de carga de foto**/
.btn-file {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	height: 55px;
	width: 209px;
 /*
    position: relative;
    overflow: hidden;
*/
}

.btn-file input[type=file] {
    /*position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    background: white;
    outline: none;
    display: block;
    filter: alpha(opacity=0);
    cursor: inherit;
 */
 	position: absolute;
	width: 200px;
	height: 58px;
	top: 280px;
	right: 250px;
	/*cursor: pointer; */
   opacity: 0;  /** borra la visualizacion del boton y el path**/
}

.btn-file-other{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	height: 39px;
	width: 133px;
	margin-top: 10px;
}

.btn-file-other input[type=file] {
    /*position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    background: white;
    outline: none;
    display: block;
    filter: alpha(opacity=0);
    cursor: inherit;
 */
	position: absolute;
	width: 102px;
	height: 45px;
	top: 350px;
	left: 79px;
	/*cursor: pointer; */
   opacity: 0;  /** borra la visualizacion del boton y el path**/
}



.form-group.required .control-label:after{
	content: "*";
	color: red;
}

.error{
	color: red;
}


.cropit-image-preview {
  /* You can specify preview size in CSS */
  width: 300px;
  height: 300px;
  cursor: move;
}


/* Translucent background image */
.cropit-image-background {
  opacity: .2;
  width: 300px;
  height: 300px;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
 	position: relative;
}

/* Limit the background image by adding overflow: hidden */
.image-cropper {
  overflow: hidden;
}

.demo-wrapper {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.demo-wrapper .preview-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.photo-range{
	display: inline-block;
	width: 70%;
	margin:0px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5px;
	background: #808080;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}