
/** Color monserrat**/
.monserrat-color{
	color:#78251d;
}

/** Ancho del contendor de la pagina**/
.container {
    max-width: 970px;
  }

/** MArgenes de la barra superior**/
.header{
  margin-bottom: 10px;
}


/** Estilos de Tabs**/
.tab-yacare{
	width: 24.7%;
	text-align: center;
	margin-bottom: 10px;
}

.tab-a-yacare{
	padding: 15px 10px;
	color: white;
	background-color: rgba(120, 37, 29, 0.5);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	color: #fff;
	background-color: #78251d;
}

a:hover{
	color: #78251d;
}


/** Contenedor de perfil de alumno**/
.profile-container{
	 display: flex;
	 max-width: 100%;
	 background-color: #eee;
	 border-radius: 6px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	
}

/** Imagen de perfil de alumno**/
.profile-img{
	width: 200px;
	height: 200px;
}



/** Estilos para los inputs de los formularios**/
.row-form{
	display: inline-block;
	width: 100%;
}

/** Boton guardar***/
.save-button{
	display: block;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	background-color: #78251d;
	color: #fff;
}

.save-button:hover{
	color: #78251d;
}



