<!-- PERFIL DEL ALUMNO-->	
<div class="profile-container">
	<div class="col-md-offset-2 col-md-3" style="text-align:center">
		<img src="images/nico-perfil.jpg" class="img-rounded profile-img">
	</div>

	<div class="monserrat-color col-md-7"> 
		<h4><b>Nicolas Agustin Legresti</b></h4>
	</div>

	<div class="col-md-7">
		<p>Nació el <b>08</b> de <b>Junio</b> de <b>1989</b>
		en <b>Córdoba</b>, <b>Argentina</b>. <img src="images/flags/ar.png"> </p>
		<p> <b>DNI</b> : <b>22.222.222</b> <span class="monserrat-color"><b> | </b></span> <b>CUIL</b> : <b>20-22.222.222-9</b> </p>
		<p> Grupo sanguíneo: <b> 0+ </b></p>
		<p> <b> Hombre </b></p>  		
	</div>
	<div class="col-md-offset-5 col-md-2">
		<button class="btn btn-default edit-button" data-toggle="modal" data-target="#myEditModal">Editar</button>	
	</div>
</div>


<!-- Formulario de Domicilio Actual-->
<div class="panel panel-default">
	<div class="panel-heading"> Domicilio actual del alumno</div>
	<div class="panel-body">

		<form role="form">

			<div class="form-group col-md-6">
				<label for="inputLocalidad">Localidad</label>
				<input type="text" class="form-control" id="inputLocalidad">
			</div>
			<div class="form-group col-md-6">
				<label for="inputBarrio">Barrio</label>
				<input type="text" class="form-control" id="inputBarrio">
			</div>

			<div class="form-group col-md-6">
				<label for="inputBarrio">Calle</label>
				<input type="text" class="form-control" id="inputCalle">
			</div>
			<div class="form-group col-md-2">
				<label for="inputNumero">Número</label>
				<input type="text" class="form-control" id="inputNumero">
			</div>
			<div class="form-group col-md-4">
				<label for="inputCP">Código Postal</label>
				<input type="text" class="form-control" id="inputCP">
			</div>

			<div class="form-group col-md-3">
				<label for="inputPico">Piso</label>
				<input type="text" class="form-control" id="inputPiso">
			</div>
			<div class="form-group col-md-3">
				<label for="inputDpto">Departamento</label>
				<input type="text" class="form-control" id="inputDpto">
			</div>
			<div class="form-group col-md-3">
				<label for="inputUnidad">Unidad</label>
				<input type="text" class="form-control" id="inputUnidad">
			</div>

		</form>
	</div>
</div>


<!-- Formulario de Medios de Contacto-->
<div class="panel panel-default">
	<div class="panel-heading"> Medios de contacto del alumno</div>
	<div class="panel-body">

		<form role="form">

			<div class="form-group col-md-6">
				<label for="inputTelFijo">Telefono Fijo</label>
				<input type="tel" class="form-control" id="inputTelFijo">
			</div>

			<div class="form-group col-md-6">
				<label for="inputMail">E-Mail</label>
				<input type="email" class="form-control" id="inputMail">
			</div>

		</form>
	</div>
</div>



<div class="container">
	<div class="row">
		
	    <div class="col-md-4">
            <div class="contacts">
                <label>Contacto:</label>
                    <div class="form-group multiple-form-group input-group">
                        <div class="input-group-btn input-group-select">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="concept">Telefono Fijo</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#phone">Telefono Fijo</a></li>
                                <li><a href="#fax">Telefono Movil</a></li>
                                <li><a href="#skype">Fax</a></li>
                                <li><a href="#skype">Skype</a></li>
                            </ul>
                            <input type="hidden" class="input-group-select-val" name="contacts['type'][]" value="phone">
                        </div>
                        <input type="text" name="contacts['value'][]" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-add">+</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
	</div>


<!-- Mi codifçog:-->

<div ng-repeat="email in eMails">
	
		<input type="email" class="form-control" ng-focus="addEmail($last)" name="email" ng-model="email.eMail"><a ng-click="removeEmail(eMails, $index)">hgfhfgh-</a>
		
</div>




<!--FIN  Mi codifçog:-->


<button type="submit" class="btn btn-default save-button">Guardar</button>


<!-- Modal edicion de datos de perfil de alumno -->
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				
				<h4 class="modal-title" id="myModalLabel">Datos del alumno</h4>
			</div>
			<div class="modal-body">

				<form role="form" style="display: inline-block;">

					<div class="form-group col-md-6">
						<label for="inputNombre">Nombre</label>
						<input type="text" class="form-control" id="inputNombre">
					</div>
					<div class="form-group col-md-6">
						<label for="inputSegundoNombre">Segundo Nombre</label>
						<input type="text" class="form-control" id="inputSegundoNombre">
					</div>

					<div class="form-group col-md-6">
						<label for="inputApellido">Apellido</label>
						<input type="text" class="form-control" id="inputApellido">
					</div>
					<div class="form-group col-md-6">
						<label for="inputSegundoApellido">Segundo Apellido</label>
						<input type="text" class="form-control" id="inputSegundoApellido">
					</div>

					<div class="form-group col-md-6">
						<label for="inputPais">Pais</label>
						<input type="text" class="form-control" id="inputPais">
					</div>
					<div class="form-group col-md-6">
						<label for="inputLocalidad">Localidad</label>
						<input type="text" class="form-control" id="inputLocalidad">
					</div>

					
					<div class="form-group col-md-6">
						<label for="inputGrupo">Grupo Sanguíneo</label>
						<select class="form-control">
							<option selected disabled>-- Selecione --</option>
							<option>0</option>
							<option>A</option>
							<option>B</option>
							<option>AB</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="inputFactor">Factor RH</label>
						<select class="form-control">
							<option selected disabled>-- Selecione --</option>
							<option>Negativo</option>
							<option>Positivo</option>
						</select>
					</div>

					<div class="form-group col-md-6">
						<label for="selectGenero">Genero</label>
						<select class="form-control" id="selectGenero">
							<option selected disabled>-- Selecione --</option>
							<option>Masculino</option>
							<option>Femenino</option>
							<option>Otro</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="inputFechaNacimiento">Fecha de Nacimiento</label>
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" max-date="today()" ng-required="true" show-button-bar="false"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>

				</form>
			</div> <!-- cierre de modal-body -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div> <!-- cierre de modal-content -->
	</div> <!-- cierre de modal-dialog -->
</div>


