<!-- PERFIL DEL ALUMNO-->	
<!-- Presentacion de datos Matriculacion Monserrat-->
<div class="container_gral" style="height: 160px;">
	<div class="col-md-2" style="text-align:center; margin-left: 4.16%;">
		<img src="images/monserrat-logo.png" style="height: 120px;">
	</div>
	<div class="col-md-7" style="text-align:center;">
		<p>Matriculación en <b>Colegio Nacional de Monserrat</b>.</p>
		<p>Bachiller Humanista con Orientación en Humanidades y Ciencias Sociales.</p>
		<p>{{matricula.anio}}.</p>
		<p>{{matricula.turno}}.</p>
 	</div>
 	<div class="col-md-2" style="text-align:center">
		<img src="images/monserrat-logo.png" style="height: 120px;">
	</div>
</div>

<!-- Presentacion de datos Perfil de Alumno-->
<div class="container_gral">
	<div class="col-md-offset-1 col-md-3" style="text-align:center">
		<div class="image-container">
			<a class="link" href="#" type="file" data-toggle="modal" data-target="#editProfileImage">  
				<img class="image img-rounded profile-img" src="images/nico-perfil.jpg"/>
				<span class="overlay-image img-rounded">
					<b>Haga click aqui para modificar la imagen</b>
				</span>
			</a>    
		</div>
	</div>

	<div class="monserrat-color col-md-8"> 
		<h4><b>{{alumno.apellido}}, {{alumno.nombre}} </b></h4>
	</div>

	<div class="col-md-8">
		<p>{{alumno.tipo_documento}} : <b>{{alumno.nro_documento}}</b> <span class="monserrat-color"><b> </b></span> CUIL : <b>{{alumno.nro_cuil}}</b> </p>
		<p> <b> {{alumno.genero}}. </b> Grupo sanguíneo: <b> {{alumno.grupo_sanguineo}} {{alumno.factor_rh}} </b></p>
		<p><span ng-show="alumno.genero=='Hombre'">Nacido</span><span ng-show="alumno.genero=='Mujer'">Nacida</span> el <b>{{alumno.nacimiento.dia}}</b> de <b>{{alumno.nacimiento.mes}}</b> de <b>{{alumno.nacimiento.anio}}</b>
		en <b>{{alumno.lugar_nacimiento.ciudad}}</b>, <b>{{alumno.lugar_nacimiento.pais}}</b>. <img src="images/flags/ar.png"> </p>
		<p>De nacionalidad <b>{{alumno.nacionalidades[0]}}</b>, <b>{{alumno.nacionalidades[1]}}</b>.</p>
	</div>
	<div class="col-md-offset-6 col-md-2">
		<button class="btn btn-default edit-button-perfil-alumno" data-toggle="modal" data-target="#myEditModal" ng-click="setSelectedAlumno()">Editar</button>	
	</div>
</div>

<!-- Presentacion de datos Domicilio Actual-->
<div class="container_gral" style="height: 146px;">
	<div class="col-md-offset-1 col-md-8">
	 	<p> Actualmente <b>{{alumno.nombre}}</b> tiene domicilio en <b>{{direccion_actual.calle}} {{direccion_actual.nro}}</b>.</p>
	 	<p> Barrio <b>{{direccion_actual.barrio}}</b>, edificio <b>{{direccion_actual.edificio}}</b>, <b>{{direccion_actual.piso}}</b> piso, departamento <b>{{direccion_actual.depto}}</b>.</p>
	 	<p> <b>{{direccion_actual.ciudad}}</b>, <b>Córdoba</b>, <b>Argentina</b>.</p>
	 	<p>CP: <b>{{direccion_actual.cp}}</b></p>
 	</div>

	<div class="col-md-3">
		<button class="btn btn-default edit-button-direccion-alumno" data-toggle="modal" data-target="#editAddress" ng-click="setSelectedDireccion()">Editar</button>	
	</div>
</div>

<!-- Modal edicion de datos de perfil de alumno -->
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				
				<h4 class="modal-title" id="myModalLabel">Datos del alumno</h4>
			</div>
			<div class="modal-body">

				<form name="form_perfil" ng-submit="updateAlumno()" role="form" action="" style="display: inline-block;">

				<div class="row">

					<div class="form-group required col-md-6">
						<label class="control-label" for="inputApellido">Apellido</label>
						<input type="text" class="form-control" name="inputApellido" value="{{tmpAlumno.apellido}}" ng-model="tmpAlumno.apellido" required>
						<div class="error" ng-show="form_perfil.inputApellido.$dirty && form_perfil.inputApellido.$error.required && !form_perfil.inputApellido.$focused">
						  El campo es requerido.
						</div>

					</div>
					<div class="form-group required col-md-6">
						<label class="control-label" for="inputNombre">Nombre</label>
						<input type="text" class="form-control" name="inputNombre" value="{{tmpAlumno.nombre}}" ng-model="tmpAlumno.nombre" required>
						<div class="error" ng-show="form_perfil.inputNombre.$dirty && form_perfil.inputNombre.$error.required && !form_perfil.inputNombre.$focused">
						  El campo es requerido.
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group required col-md-6">
						<label class="control-label" for="selectGenero">Genero</label>
						
						<select class="form-control" name="selectGenero" required ng-options="l for l in genero" ng-model="tmpAlumno.genero">
							<option value="" disabled>-- Selecione --</option>	
						</select>	
						
						<div class="error" ng-show="form_perfil.selectGenero.$dirty && form_perfil.selectGenero.$error.required && !form_perfil.selectGenero.$focused">
						  El campo es requerido.
						</div>
					</div>

					<div class="form-group required col-md-3">
						<label class="control-label" for="inputGrupo">Grupo Sanguíneo</label>
						<select class="form-control" name="selectGD" required ng-options="l for l in grupo_sanguineo" ng-model="tmpAlumno.grupo_sanguineo">
							<option value="" disabled>-- Selecione --</option>	
						</select>	
						<div class="error" ng-show="form_perfil.selectGS.$dirty && form_perfil.selectGS.$error.required && !form_perfil.selectGS.$focused">
						  El campo es requerido.
						</div>
					</div>

					<div class="form-group required col-md-3">
						<label class="control-label" for="inputFactor">Factor RH</label>
						<select class="form-control" name="selectFactor" required ng-options="l for l in factor_rh" ng-model="tmpAlumno.factor_rh">
							<option value="" disabled>-- Selecione --</option>
						</select>
						<div class="error" ng-show="form_perfil.selectFactor.$dirty && form_perfil.selectFactor.$error.required && !form_perfil.selectFactor.$focused">
						  El campo es requerido.
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group required col-md-4">
						<label class="control-label" for="inputPais">País de Nacimiento</label>
						<input type="text" class="form-control" name="inputPais" value="{{tmpAlumno.lugar_nacimiento.pais}}" ng-model="tmpAlumno.lugar_nacimiento.pais" required="required">
						<div class="error" ng-show="form_perfil.inputPais.$dirty && form_perfil.inputPais.$error.required && !form_perfil.inputPais.$focused">
						  El campo es requerido.
						</div>
					</div>
					<div class="form-group required col-md-4">
						<label class="control-label" for="inputCiudad">Ciudad de Nacimiento</label>
						<input type="text" class="form-control" name="inputCiudad" value="{{tmpAlumno.lugar_nacimiento.ciudad}}" ng-model="tmpAlumno.lugar_nacimiento.ciudad" required>
						<div class="error" ng-show="form_perfil.inputCiudad.$dirty && form_perfil.inputCiudad.$error.required && !form_perfil.inputCiudad.$focused">
						  El campo es requerido.
						</div>
					</div>

					<div class="form-group required col-md-4">
						<label class="control-label" for="inputFechaNacimiento">Fecha de Nacimiento</label>
												
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" max-date="today()" ng-required="true" show-button-bar="false" id="datepicker"/ required>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>	
					</div>

					<div class="row">
						<div class="form-group required col-md-4">
							<label class="control-label" for="nacionalidad">Nacionalidad</label>
							<input type="text" class="form-control" name="nacionalidad" value="{{tmpAlumno.nacionalidades[0]}}" ng-model="tmpAlumno.nacionalidades[0]" required>
							<div class="error" ng-show="form_perfil.nacionalidad.$dirty && form_perfil.nacionalidad.$error.required && !form_perfil.nacionalidad.$focused">
						  El campo es requerido.
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="nacionalidad">Otra nacionalidad</label>
							<input type="text" class="form-control" id="nacionalidad" value="{{tmpAlumno.nacionalidades[1]}}" ng-model="tmpAlumno.nacionalidades[1]">
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>

				</form>
			</div> <!-- cierre de modal-body -->

		</div> <!-- cierre de modal-content -->
	</div> <!-- cierre de modal-dialog -->
</div>

<!-- Modal edicion de datos de Domicilio Actual-->
<div class="modal fade" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="editAddress" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				
				<h4 class="modal-title" id="editAddress">Domicilio actual de {{alumno.nombre}}</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="form_address" ng-submit="updateDomicilio()" style="display: inline-block;">
					<div class="row">
						<div class="form-group required col-md-6">
							<label class="control-label" for="inputCiudad">Ciudad</label>
							<input type="text" class="form-control" name="inputCiudad" value="{{tmpDireccion.ciudad}}" ng-model="tmpDireccion.ciudad" required>
							<div class="error" ng-show="form_address.inputCiudad.$dirty && form_address.inputCiudad.$error.required && !form_address.inputCiudad.$focused">
							  El campo es requerido.
							</div>
						</div>
						<div class="form-group required col-md-6">
							<label class="control-label" for="inputBarrio">Barrio</label>
							<input type="text" class="form-control" name="inputBarrio" value="{{tmpDireccion.barrio}}" ng-model="tmpDireccion.barrio" required>
							<div class="error" ng-show="form_address.inputBarrio.$dirty && form_address.inputBarrio.$error.required && !form_address.inputBarrio.$focused">
							  El campo es requerido.
							</div>
						</div>
					</div>
					<div class="row">

						<div class="form-group required col-md-6">
							<label class="control-label" for="inputBarrio">Calle</label>
							<input type="text" class="form-control" name="inputCalle" value="{{tmpDireccion.calle}}" ng-model="tmpDireccion.calle" required>
							<div class="error" ng-show="form_address.inputCalle.$dirty && form_address.inputCalle.$error.required && !form_address.inputCalle.$focused">
							  El campo es requerido.
							</div>
						</div>
						<div class="form-group col-md-2">
							<label for="inputNumero">Número</label>
							<input type="text" class="form-control" id="inputNumero" value="{{tmpDireccion.nro}}" ng-model="tmpDireccion.nro" >
						</div>
						<div class="form-group col-md-2">
							<label for="inputPico">Piso</label>
							<input type="text" class="form-control" id="inputPiso" value="{{tmpDireccion.piso}}" ng-model="tmpDireccion.piso">
						</div>
						<div class="form-group col-md-2">
							<label for="inputDpto">Departamento</label>
							<input type="text" class="form-control" id="inputDpto" value="{{tmpDireccion.depto}}" ng-model="tmpDireccion.depto">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-3">
							<label for="inputUnidad">Edificio</label>
							<input type="text" class="form-control" id="inputUnidad" value="{{tmpDireccion.edificio}}" ng-model="tmpDireccion.edificio">
						</div>
						<div class="form-group required col-md-3">
							<label class="control-label" for="inputCP">Código Postal</label>
							<input type="text" class="form-control" name="inputCP" value="{{tmpDireccion.cp}}" ng-model="tmpDireccion.cp" required>
							<div class="error" ng-show="form_address.inputCP.$dirty && form_address.inputCP.$error.required && !form_address.inputCP.$focused">
							  El campo es requerido.
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</form>
			</div>
		</div> <!-- cierre de modal-content -->
	</div> <!-- cierre de modal-dialog -->
</div>

<!-- Modal edicion de foto de perfil-->
<div class="modal fade" id="editProfileImage" tabindex="-1" role="dialog" aria-labelledby="editProfileImage" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				
				<h4 class="modal-title">Actualizar foto del alumno</h4>
			</div>
			<div class="modal-body">
				<form role="form" style="display: inline-block;width: 100%;">
				
					<div>

					<tabset justified="true">
						
						<!-- pestania subir foto -->	
						<tab>
							 <tab-heading class="monserrat-color">
	       						 <i class="glyphicon glyphicon-picture"></i> Subir foto nueva 
	     					 </tab-heading>
	     					 
	     					 <div style="height:400px; display:block; padding-top:117px;">
								
								<i class="glyphicon glyphicon-picture" style="display:block; text-align:center; font-size:50px; color:rgba(23, 76, 25, 0.5);"></i> 
	     					 	
	     					 	<div style="text-align:center; margin-bottom:20px; font-size: 27px; color:rgba(23, 76, 25, 0.5);">
	     					 		Suba aquí una foto del alumno
	     					 	</div>

	     					 	<div class="btn btn-primary btn-file">
						    		<span>Seleccionar imagen</span>
						   	 		<input type="file" id="fileUpload"/>
								</div>

	     					 </div>
						</tab>

						<!-- pestania subir foto -->
						<tab >
							 <tab-heading class="monserrat-color">
	       						 <i class="glyphicon glyphicon-pencil"></i> Editar foto actual 
	     					 </tab-heading>
	     					 
	     					<div style="height:400px; display:block;">
								
								<div class="demo-wrapper">
								<div class="preview-wrapper">
									<div id="image-cropper">  
 										<div class="cropit-image-preview-container">
   											<div class="cropit-image-preview" ng-init="applyCrop()"></div>
  										</div>
  										
  										<div style="width: 100%; text-align: center; margin-top:20px;font-size:18px; color:rgba(23, 76, 25, 0.75);">

		  										<i class="glyphicon glyphicon-zoom-out"></i>
		  										<input type="range" class="cropit-image-zoom-input photo-range" style="display: inline-block; width: 50%;" />
		  										<i class="glyphicon glyphicon-zoom-in"></i>
	  										
	  									</div>	
  										
									</div>
								</div>
							</div>

	     					</div>
						</tab>
					</tabset>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateDomicilio()">Guardar</button>
					</div>
				</form>
			</div>
		</div> <!-- cierre de modal-content -->
	</div> <!-- cierre de modal-dialog -->
</div>
