<!-- PERFIL DEL ALUMNO-->	
<div class="profile-container card-shadow" style="height: 160px;">
	<div class="col-md-2" style="text-align:center; margin-left: 4.16%;">
		<img src="images/monserrat-logo.png" style="width: 130px; height: 130px;">
	</div>
	<div class="col-md-7" style="text-align:center;">
		<p>Matriculación en <b>Colegio Nacional de Monserrat</b>.</p>
		<p>Bachiller Humanista con Orientación en Humanidades y Ciencias Sociales.</p>
		<p>Primer año.</p>
		<p>Turno tarde.</p>
 	</div>
 	<div class="col-md-2" style="text-align:center">
		<img src="images/monserrat-logo.png" style="width: 130px; height: 130px;">
	</div>
</div>


<div class="profile-container card-shadow">
	<div class="col-md-offset-1 col-md-3" style="text-align:center">
		<img src="images/nico-perfil.jpg" class="img-rounded profile-img">
		<a class="btn" href="#">Cambiar Foto</a>
	</div>

	<div class="monserrat-color col-md-8"> 
		<h4><b>Legresti, Nicolás </b></h4>
	</div>

	<div class="col-md-8">
		<p>DNI : <b>22.222.222</b> <span class="monserrat-color"><b> </b></span> CUIL : <b>20-22.222.222-9</b> </p>
		<p> <b> Hombre. </b> Grupo sanguíneo: <b> 0+ </b></p>
		<p>Nacido el <b>08</b> de <b>Junio</b> de <b>1989</b>
		en <b>Córdoba</b>, <b>Argentina</b>. <img src="images/flags/ar.png"> </p>
		<p>De nacionalidad <b>argentina</b>, <b>italiana</b>.</p>
	</div>
	<div class="col-md-offset-6 col-md-2">
		<button class="btn btn-default edit-button-perfil-alumno" data-toggle="modal" data-target="#myEditModal">Editar</button>	
	</div>
</div>

<div class="profile-container card-shadow" style="height: 146px;">
	<div class="col-md-offset-1 col-md-8">
	 	<p> Actualmente <b>Nicolás</b> vive en <b>Av. Emilio Olmos 700</b>.</p>
	 	<p> Barrio <b>Nueva Córdoba</b>, edificio <b>Vicente I</b>, piso <b>1</b>, departamento <b>B</b>.</p>
	 	<p> <b>Córdoba</b>, <b>Córdoba</b>, <b>Argentina</b>.</p>
	 	<p>CP: <b>5000</b></p>
 	</div>

	<div class="col-md-3">
		<button class="btn btn-default edit-button-direccion-alumno" data-toggle="modal" data-target="#editAddress">Editar</button>	
	</div>
</div>



<!-- Modal edicion de datos de Domicilio Actual-->
<div class="modal fade" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="editAddress" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				
				<h4 class="modal-title" id="editAddress">Domicilio actual de Nicolás</h4>
			</div>
			<div class="modal-body">
				<form role="form" style="display: inline-block;">
					<div class="form-group col-md-6">
						<label for="inputLocalidad">Localidad</label>
						<input type="text" class="form-control" id="inputLocalidad">
					</div>
					<div class="form-group col-md-6">
						<label for="inputBarrio">Barrio</label>
						<input type="text" class="form-control" id="inputBarrio">
					</div>

					<div class="form-group col-md-6">
						<label for="inputBarrio">Calle</label>
						<input type="text" class="form-control" id="inputCalle">
					</div>
					<div class="form-group col-md-2">
						<label for="inputNumero">Número</label>
						<input type="text" class="form-control" id="inputNumero">
					</div>
					<div class="form-group col-md-4">
						<label for="inputCP">Código Postal</label>
						<input type="text" class="form-control" id="inputCP">
					</div>

					<div class="form-group col-md-3">
						<label for="inputPico">Piso</label>
						<input type="text" class="form-control" id="inputPiso">
					</div>
					<div class="form-group col-md-3">
						<label for="inputDpto">Departamento</label>
						<input type="text" class="form-control" id="inputDpto">
					</div>
					<div class="form-group col-md-3">
						<label for="inputUnidad">Edifici</label>
						<input type="text" class="form-control" id="inputUnidad">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div> <!-- cierre de modal-content -->
	</div> <!-- cierre de modal-dialog -->
</div>

<!-- Modal edicion de datos de perfil de alumno -->
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				
				<h4 class="modal-title" id="myModalLabel">Datos del alumno</h4>
			</div>
			<div class="modal-body">

				<form role="form" style="display: inline-block;">

					<div class="form-group col-md-6">
						<label for="inputApellido">Apellido</label>
						<input type="text" class="form-control" id="inputApellido">
					</div>
					<div class="form-group col-md-6">
						<label for="inputNombre">Nombre</label>
						<input type="text" class="form-control" id="inputNombre">
					</div>

					<div class="form-group col-md-6">
						<label for="selectGenero">Genero</label>
						<select class="form-control" id="selectGenero">
							<option selected disabled>-- Selecione --</option>
							<option>Masculino</option>
							<option>Femenino</option>
						</select>
					</div>

					<div class="form-group col-md-3">
						<label for="inputGrupo">Grupo Sanguíneo</label>
						<select class="form-control">
							<option selected disabled>-- Selecione --</option>
							<option>0</option>
							<option>A</option>
							<option>B</option>
							<option>AB</option>
						</select>
					</div>

					<div class="form-group col-md-3">
						<label for="inputFactor">Factor RH</label>
						<select class="form-control">
							<option selected disabled>-- Selecione --</option>
							<option>Negativo</option>
							<option>Positivo</option>
						</select>
					</div>

					<div class="form-group col-md-4">
						<label for="inputPais">País de Nacimiento</label>
						<input type="text" class="form-control" id="inputPais">
					</div>
					<div class="form-group col-md-4">
						<label for="inputLocalidad">Localidad de Nacimiento</label>
						<input type="text" class="form-control" id="inputLocalidad">
					</div>

					<div class="form-group col-md-4">
						<label for="inputFechaNacimiento">Fecha de Nacimiento</label>
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" max-date="today()" ng-required="true" show-button-bar="false" id="datepicker"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>

					<div class="form-group col-md-4">
						<label for="nacionalidad">Nacionalidades</label>
						<input type="text" class="form-control" id="nacionalidad">
					</div>
					<div class="form-group col-md-4">
						<label for="nacionalidad"></label>
						<input type="text" class="form-control" id="nacionalidad">
					</div>
					<div class="form-group col-md-4">
						<label for="nacionalidad"></label>
						<input type="text" class="form-control" id="nacionalidad">
					</div>

				</form>
			</div> <!-- cierre de modal-body -->

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div> <!-- cierre de modal-content -->
	</div> <!-- cierre de modal-dialog -->
</div>


