<!-- PERFIL DEL CONTACTO EN CASO DE EMERGENCIA -->
<div class="profile-container-tutor">
  <div class="col-md-offset-1" >
    <div class="monserrat-color col-md-8"> 
      <h4><b>Pedro García</b></h4>
    </div>
    <div class="col-md-8">
        <p> <b>DNI</b><p> 
       <p class="monserrat-color">Tipo de relación con el alumno: <b>Padre</b>
      
    </div>
  </div>
  <div class="col-md-offset-1 col-md-1">
    <button class="btn btn-default edit-button-tutor" data-toggle="modal" data-target="#myEditModalContactoEmergencia">Editar</button>  
  </div>
  <div class="col-md-1">
    <button class="btn btn-default edit-button-tutor">Eliminar</button>  
  </div>
</div>