<div id="tabs">
  <h3 class="monserrat-color"><b>Matriculación 2015</b></h3>  
  <ul class="nav nav-pills" role="tablist">
    <li class="active tab-yacare">
      <a class="tab-a-yacare" ui-sref="form.alumno" data-target="#target" role="tab" data-toggle="pill">Datos del Alumno</a>
    </li>
    <li class="tab-yacare">
      <a class="tab-a-yacare" ui-sref="form.tutor" data-target="#target" role="tab" data-toggle="pill">Tutores</a>
    </li>
    <li class="tab-yacare">
      <a class="tab-a-yacare" ui-sref="form.emergencia" data-target="#target" role="tab" data-toggle="pill">Contacto por Emergencias</a>
    </li>
    <li class="tab-yacare">
      <a class="tab-a-yacare" ui-sref="form.resumen" data-target="#target" role="tab" data-toggle="pill">Resumen</a>
    </li>
  </ul>

</div>


<div ui-view></div>

<div id="footer" class="footer">
  <div class="col-md-offset-4">
    <a href="http://www.unc.edu.ar/" target="_blank"><img src="images/unc.png" style="height:45px;"></a>
    <a href="http://www.psi.unc.edu.ar/" target="_blank"><img src="images/unc-psi.png" style="height:45px;"></a>
    <a href="http://www.cnm.unc.edu.ar/" target="_blank"><img src="images/logo-transparente-monserrat.png" style="height:45px;"></a>
  </div>
</div>