<div style="display: inline-block; width: 100%;">
	<div class="col-md-6">
		La matriculación no está completa hasta que presente toda la documentación y el formulario obtenido por este sistema en el colegio. Recién allí deberá firmarlo. Recuerde adjuntar una fotografía al formulario impreso.
	</div>
	
	<div class="form-group required col-md-4">
		<form id="form_login">

			 <label class="control-label" for="inputApellido">Apellido del tutor:</label>
			 <input type="text" class="form-control" name="inputApellido" required>
			 
			 <label class="control-label" for="inputNombre">Nombre del tutor:</label>
			 <input type="text" class="form-control" name="inputNombre" required>
			 
			 <label class="control-label" for="inputDocumento">Documento del tutor:</label>
			 <input type="text" class="form-control" name="inputDocumento" required>
			 
			 <label class="control-label" for="inputDocumentoAlumno">Documento del alumno:</label>
			 <input type="text" class="form-control" name="inputDocumentoAlumno" required>
			 
		</form>
	</div>

	
</div>