<div class="panel panel-default">
  <div class="panel-heading"> Matricula</div>
  <div class="panel-body">

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Carrera</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Año</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Turno</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  
</form>

  </div>
</div>
