<label>Hola {{matricula.turno}}</label>

<div class="profile-container card-shadow">
	<div class="col-md-offset-1 col-md-3" style="text-align:center">
		<div class="image-container">
			
			<a class="link" href="#" type="file" >  
				<img class="image img-rounded profile-img" src="images/nico-perfil.jpg"/>
				<span class="overlay-image img-rounded">
					<b>Haga click aqui para modificar la imagen</b>
				</span>
			</a>    

		</div>
	</div>
	<div class="monserrat-color col-md-8"> 
		<h4><b>Legresti, Nicolás </b></h4>
	</div>
	<div class="col-md-8">
		<p>DNI : <b>22.222.222</b> <span class="monserrat-color"><b> </b></span> CUIL : <b>20-22.222.222-9</b> </p>
		<p> <b> Hombre. </b> Grupo sanguíneo: <b> 0+ </b></p>
		<p>Nacido el <b>08</b> de <b>Junio</b> de <b>1989</b>
			en <b>Córdoba</b>, <b>Argentina</b>. <img src="images/flags/ar.png"> </p>
			<p>De nacionalidad <b>argentina</b>, <b>italiana</b>.</p>
		</div>
		<div class="col-md-offset-6 col-md-2">
			<button class="btn btn-default edit-button-perfil-alumno" data-toggle="modal" data-target="#myEditModal">Editar</button>	
		</div>
	</div>
</div>

<form method="post" enctype="multipart/form-data"><br>
<input type=file size=60 name=""><br><br>
<input type=submit value="subir"><br>
</form>

<input type="file" accept="image/*;capture=camera">