<!-- PERFIL DEL TUTOR -->

<!-- Presentacion de datos Perfil Tutor-->
<div class="container_gral" ng-repeat="item in tutores">
  <div class="col-md-offset-1" >
    <div class="monserrat-color col-md-12"> 
      <h4><b>{{item.apellido}}, {{item.nombre}}</b> - 
      <b> {{search('relacion_familiar', item.tipo_relacion_id).val}} 
      </b> de {{alumno.apellido}}, {{alumno.nombre}} </b></h4>
    </div>
    <div class="col-md-8">
      <p>
        <b>{{search('tipo_documento', item.tipo_documento_id).val || "DNI"}}</b>:
        <!--<b>{{item.tipo_documento || "DNI"}}</b>: -->
        <span class="bold">{{item.nro_documento}}</span>
      </p>

      <p>
        <span class="bold" ng-class="{'missing-data':!item.genero}">{{item.genero||'Género a completar'}},</span>
        <span ng-if="hasBirthdate($index)">
          <span ng-show="item.genero=='Hombre'">nacido</span>
          <span ng-show="item.genero=='Mujer'">nacida</span> 
          <span ng-show="!item.genero">nació</span>
          el <b>{{item.nacimiento.dia}}</b>
          de <b>{{item.nacimiento.mes}}</b> 
          de <b>{{item.nacimiento.anio}}</b>
          en <span ng-if="hasPlaceOfBirth($index)">
                <b>{{search('pais', item.lugar_nacimiento).val}}</b>. 
              </span>
              <span ng-if="!hasPlaceOfBirth($index)"  class="missing-data">
                lugar a completar.
              </span>
        </span>
        <span ng-if="!hasBirthdate($index)" class="missing-data">
          Fecha de nacimiento a completar.
        </span>
      </p>
      <p>
        <span ng-if="hasAddress($index)">
            Con domicilio en <b>{{item.direccion_actual.calle}}</b>
            número <b>{{item.direccion_actual.nro}}</b>,
            barrio <b>{{item.direccion_actual.barrio}}</b>,
            <span ng-if="isBuilding($index)">              
              <b>{{item.direccion_actual.piso}}</b>º piso 
              <b>{{item.direccion_actual.depto}}</b> 
              <b>{{item.direccion_actual.edificio}}</b> 
            </span><br/>
            <b>{{item.direccion_actual.ciudad}}</b>,
            <b>{{search('provincia', item.direccion_actual.provincia_id).val}}</b>,
            <b>{{search('pais', item.direccion_actual.pais_id).val}}</b>
            CP: <b>{{item.direccion_actual.cp}}</b><br/>
            <span style="word-wrap: break-word;font-style: italic;">
              {{item.direccion_actual.comentario}}
            </span>
        </span>
        <span ng-if="!hasAddress($index)" class="missing-data">
           Los datos del domicilio del tutor están incompletos.
        </span>
      </p>

      <p>
        <b>{{item.mail}}</b>
      </p>
      <p>
          TEL: <span ng-class="{'missing-data':!item.telefono}">{{item.telefono||'a completar'}}.</span>
      </p>
      
    </div>
  </div>
  <div class="col-md-offset-1 col-md-1">
    <button class="btn btn-default edit-button-tutor" data-toggle="modal" data-target="#myEditModalTutor" ng-click="setSelected($index)">Editar</button>  
  </div>
  <div class="col-md-1">
    <button class="btn btn-default edit-button-tutor" ng-click="removeTutor($index)">Eliminar</button>  
  </div>
</div>

<button class="btn btn-default save-button" data-toggle="modal" data-target="#myNvoModalTutor" ng-click="cleanModal()">Agregar Tutor</button>


<!-- Modal edicion de datos de perfil del tutor -->
<div class="modal fade" id="myEditModalTutor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-tutor">
    <div class="modal-content">

      <div class="modal-header">     
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>Datos del tutor</b></h4>
      </div>

      <div class="modal-body">
        <form name="form_tutor" ng-submit="updateTutor()" role="form" style="display: inline-block;">
      
          <h4 class="monserrat-color"> <b>Datos personales:</b></h4>
          <div class="row">
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputApellido">Apellido</label>
              <input type="text" class="form-control" name="inputApellido" value="{{tmpTutor.apellido}}" ng-model="tmpTutor.apellido" required>
              <div class="error" ng-show="form_tutor.inputApellido.$dirty &amp;&amp; form_tutor.inputApellido.$error.required &amp;&amp; !form_tutor.inputApellido.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputNombre">Nombre</label>
              <input type="text" class="form-control" name="inputNombre" value="{{tmpTutor.nombre}}" ng-model="tmpTutor.nombre" required>
               <div class="error" ng-show="form_tutor.inputNombre.$dirty &amp;&amp; form_tutor.inputNombre.$error.required &amp;&amp; !form_tutor.inputNombre.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputGeneroTutor">Genero</label>
               <select class="form-control" name="selectGeneroTutor" required ng-options="l for l in genero" ng-model="tmpTutor.genero">
                <option value="" disabled>-- Selecione --</option>  
              </select>            
               <div class="error" ng-show="form_tutor.inputGeneroTutor.$dirty &amp;&amp; form_tutor.inputGeneroTutor.$error.required &amp;&amp; !form_tutor.inputGeneroTutor.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="selectRelacion">Tipo de relación con el alumno</label>
               <select class="form-control select-option" name="selectRelacion" required ng-options="item.key as item.val for item in dominios.relacion_familiar" ng-model="tmpTutor.tipo_relacion_id">
                <option value="" disabled>-- Selecione --</option>  
              </select>           
               <div class="error" ng-show="form_tutor.selectRelacion.$dirty &amp;&amp; form_tutor.selectRelacion.$error.required &amp;&amp; !form_tutor.selectRelacion.$focused">
                El campo es requerido.
              </div>
            </div>
            
         </div>

         <div class="row">
            <div class="form-group required col-md-3">
              <label class="control-label" for="selectTipoDocTutor">Tipo de Documento</label>
              <select class="form-control" name="selectTipoDocTutor" required ng-options="item.key as item.val for item in dominios.tipo_documento" ng-model="tmpTutor.tipo_documento_id">
              <option value="" disabled>-- Selecione --</option>  
              </select>
               <div class="error" ng-show="form_tutor.selectTipoDocTutor.$dirty &amp;&amp; form_tutor.selectTipoDocTutor.$error.required &amp;&amp; !form_tutor.selectTipoDocTutor.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputNroDocTutor">Número de documento</label>
              <input type="text" class="form-control" name="inputNroDocTutor" value="{{tmpTutor.nro_documento}}" ng-model="tmpTutor.nro_documento" required>
               <div class="error" ng-show="form_tutor.inputNroDocTutor.$dirty &amp;&amp; form_tutor.inputNroDocTutor.$error.required &amp;&amp; !form_tutor.inputNroDocTutor.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputPaisNacimiento">País de Nacimiento</label>
               <select class="form-control" name="inputPaisNacimiento" required ng-options="item.key as item.val for item in dominios.pais" ng-model="tmpTutor.lugar_nacimiento">
                <option value="" disabled>-- Selecione --</option>  
              </select>           
               <div class="error" ng-show="form_tutor.inputPaisNacimiento.$dirty &amp;&amp; form_tutor.inputPaisNacimiento.$error.required &amp;&amp; !form_tutor.inputPaisNacimiento.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputFechaNacimientoTutor">Fecha de Nacimiento</label>
              
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="tmpTutor.fecha_nacimiento" is-open="opened" ng-required="true" show-button-bar="false" show-weeks="false" required placeholder="dd/mm/aaaa" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
              <div class="error" ng-show="form_tutor.inputFechaNacimientoTutor.$dirty &amp;&amp; form_tutor.inputFechaNacimientoTutor.$error.required &amp;&amp; !form_tutor.inputFechaNacimientoTutor.$focused">
                El campo es requerido.
              </div>
            </div>
            
        </div>

          <h4 class="monserrat-color"><b>Datos de contacto: </b></h4>
          <div  class="row">
              <div class="form-group required col-md-3">
                <label class="control-label" for="inputTelefonoTutor">Teléfono</label>
                <input type="text" class="form-control" name="inputTelefonoTutor" value="{{tmpTutor.telefono}}" ng-model="tmpTutor.telefono" required onkeypress='return event.charCode >= 48 &amp;&amp; event.charCode <= 57'>
                <div class="error" ng-show="form_tutor.inputTelefonoTutor.$dirty &amp;&amp; form_tutor.inputTelefonoTutor.$error.required &amp;&amp; !form_tutor.inputTelefonoTutor.$focused">
                  El campo es requerido.
                </div>
              </div>  
              <div class="form-group required col-md-3">
                <label class="control-label" for="inputEmailTutor">E-mail</label>
                <input type="email" class="form-control" name="inputEmailTutor" value="{{tmpTutor.mail}}" ng-model="tmpTutor.mail" required>
                <div class="error" ng-show="form_tutor.inputEmailTutor.$dirty &amp;&amp; form_tutor.inputEmailTutor.$error.required &amp;&amp; !form_tutor.inputEmailTutor.$focused">
                  El campo es requerido.
                </div>
              </div>
          </div>

           <h4 class="monserrat-color"><b>Datos de domicilio actual:</b></h4>
          <div class="row">
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputPais">País</label>
               <select class="form-control" name="inputPais" required ng-options="item.key as item.val for item in dominios.pais" ng-model="tmpTutor.direccion_actual.pais_id">
                <option value="" disabled>-- Selecione --</option>  
              </select>           
               <div class="error" ng-show="form_tutor.inputPais.$dirty &amp;&amp; form_tutor.inputPais.$error.required &amp;&amp; !form_tutor.inputPais.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputProvincia">Provincia</label>
              <select class="form-control" name="inputProvincia" required ng-options="item.key as item.val for item in dominios.provincia|filter:{parent: tmpTutor.direccion_actual.pais_id}" ng-model="tmpTutor.direccion_actual.provincia_id">
                <option value="" disabled>-- Selecione --</option>  
              </select> 
               <div class="error" ng-show="form_tutor.inputProvincia.$dirty &amp;&amp; form_tutor.inputProvincia.$error.required &amp;&amp; !form_tutor.inputProvincia.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputCiudad">Ciudad</label>
              
              <!--
              <select class="form-control" name="inputCiudad" required ng-options="item.key as item.val for item in dominios.ciudad|filter:{parent: tmpTutor.direccion_actual.provincia_id}" ng-model="tmpTutor.direccion_actual.ciudad_id">
                <option value="" disabled>-- Selecione --</option>  
              </select> 
              -->
              <input type="text" class="form-control" name="inputCiudad" value="{{tmpTutor.direccion_actual.ciudad}}" ng-model="tmpTutor.direccion_actual.ciudad" required> 
               <div class="error" ng-show="form_tutor.inputCiudad.$dirty &amp;&amp; form_tutor.inputCiudad.$error.required &amp;&amp; !form_tutor.inputCiudad.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputBarrio">Barrio</label>
              <input type="text" class="form-control" name="inputBarrio" value="{{tmpTutor.direccion_actual.barrio}}" ng-model="tmpTutor.direccion_actual.barrio" required>
               <div class="error" ng-show="form_tutor.inputBarrio.$dirty &amp;&amp; form_tutor.inputBarrio.$error.required &amp;&amp; !form_tutor.inputBarrio.$focused">
                El campo es requerido.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group required col-md-4">
              <label class="control-label" for="inputBarrio">Calle</label>
              <input type="text" class="form-control" name="inputCalle" value="{{tmpTutor.direccion_actual.calle}}" ng-model="tmpTutor.direccion_actual.calle" required >
               <div class="error" ng-show="form_tutor.inputCalle.$dirty &amp;&amp; form_tutor.inputCalle.$error.required &amp;&amp; !form_tutor.inputCalle.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-2">
              <label class="control-label" for="inputNumero">Número</label>
              <input type="text" class="form-control" name="inputNumero" value="{{tmpTutor.direccion_actual.nro}}" ng-model="tmpTutor.direccion_actual.nro" required>
              <div class="error" ng-show="form_tutor.inputCalle.$dirty &amp;&amp; form_tutor.inputCalle.$error.required &amp;&amp; !form_tutor.inputCalle.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group col-md-1">
              <label class="control-label" for="inputPico">Piso</label>
              <input type="text" class="form-control" name="inputPiso" value="{{tmpTutor.direccion_actual.piso}}" ng-model="tmpTutor.direccion_actual.piso">
            </div>
            <div class="form-group col-md-1">
              <label class="control-label" for="inputDpto">Dpto</label>
              <input type="text" class="form-control" name="inputDpto" value="{{tmpTutor.direccion_actual.depto}}" ng-model="tmpTutor.direccion_actual.depto">
            </div>
            <div class="form-group col-md-2">
              <label class="control-label" for="inputEdificio">Edificio</label>
              <input type="text" class="form-control" name="inputEdificio" value="{{tmpTutor.direccion_actual.edificio}}" ng-model="tmpTutor.direccion_actual.edificio">
            </div>
            <div class="form-group required col-md-2">
              <label class="control-label" for="inputCP">Código Postal</label>
              <input type="text" class="form-control" name="inputCP" value="{{tmpTutor.direccion_actual.cp}}" ng-model="tmpTutor.direccion_actual.cp" required>
               <div class="error" ng-show="form_tutor.inputCP.$dirty &amp;&amp; form_tutor.inputCP.$error.required &amp;&amp; !form_tutor.inputCP.$focused">
                El campo es requerido.
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="form-group col-md-12">
              <label for="inputComentarioTutor">Comentario</label>
              <textarea rows="3" style="resize:none;" class="form-control" name="inputComentarioTutor" ng-model="tmpTutor.direccion_actual.comentario" maxlength="200" value="{{tmpTutor.direccion_actual.comentario}}"></textarea>
            </div>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Aceptar</button>
          </div>

        </form>
      </div> <!-- cierre de modal-body -->


    </div> <!-- cierre de modal-content -->
  </div> <!-- cierre de modal-dialog -->
</div>


<!-- Modal Nuevo tutor -->
<div class="modal fade" id="myNvoModalTutor" tabindex="-1" role="dialog" aria-labelledby="myNvoModalTutor" aria-hidden="true">
  <div class="modal-dialog modal-dialog-tutor">
    <div class="modal-content">

      <div class="modal-header">     
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myNvoModalTutor"><b>Datos del tutor</b></h4>
      </div>

      <div class="modal-body">
        <form name="form_nvo_tutor" role="form" ng-submit="saveTutor()" style="display: inline-block;">
      
          <h4 class="monserrat-color"> <b>Datos personales:</b></h4>
          <div class="row">
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputApellido">Apellido</label>
              <input type="text" class="form-control" name="inputApellido" ng-model="nvoTutor.apellido" required>
              <div class="error" ng-show="form_nvo_tutor.inputApellido.$dirty &amp;&amp; form_nvo_tutor.inputApellido.$error.required &amp;&amp; !form_nvo_tutor.inputApellido.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputNombre">Nombre</label>
              <input type="text" class="form-control" name="inputNombre" ng-model="nvoTutor.nombre" required>
               <div class="error" ng-show="form_nvo_tutor.inputNombre.$dirty &amp;&amp; form_nvo_tutor.inputNombre.$error.required &amp;&amp; !form_nvo_tutor.inputNombre.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputGeneroTutor">Genero</label>

               <select class="form-control" name="selectGeneroTutor" required ng-options="l for l in genero" ng-model="nvoTutor.genero">
                <option value="" disabled>-- Selecione --</option>  
               </select>      
            
               <div class="error" ng-show="form_nvo_tutor.inputGeneroTutor.$dirty &amp;&amp; form_nvo_tutor.inputGeneroTutor.$error.required &amp;&amp; !form_nvo_tutor.inputGeneroTutor.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="selectRelacion">Tipo de relación con el alumno</label>
              
              <select class="form-control select-option" name="selectRelacion" required ng-options="item.key as item.val for item in dominios.relacion_familiar" ng-model="nvoTutor.tipo_relacion_id">
                <option value="" disabled>-- Selecione --</option>  
              </select>              
               <div class="error" ng-show="form_nvo_tutor.selectRelacion.$dirty &amp;&amp; form_nvo_tutor.selectRelacion.$error.required &amp;&amp; !form_nvo_tutor.selectRelacion.$focused">
                El campo es requerido.
              </div>
            </div>
           
         </div>

         <div class="row">
            <div class="form-group required col-md-3">
              <label class="control-label" for="selectTipoDocTutor">Tipo de Documento</label>
              <select class="form-control" name="selectTipoDocTutor" required ng-options="item.key as item.val for item in dominios.tipo_documento" ng-model="nvoTutor.tipo_documento_id">
              <option value="" disabled>-- Selecione --</option>  
              </select>
              <div class="error" ng-show="form_nvo_tutor.selectTipoDocTutor.$dirty &amp;&amp; form_nvo_tutor.selectTipoDocTutor.$error.required &amp;&amp; !form_nvo_tutor.selectTipoDocTutor.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputNroDocTutor">Número de documento</label>
              <input type="text" class="form-control" name="inputNroDocTutor" ng-model="nvoTutor.nro_documento" required>
               <div class="error" ng-show="form_nvo_tutor.inputNroDocTutor.$dirty &amp;&amp; form_nvo_tutor.inputNroDocTutor.$error.required &amp;&amp; !form_nvo_tutor.inputNroDocTutor.$focused">
                El campo es requerido.
              </div>
            </div>
             <div class="form-group required col-md-3">
              <label class="control-label" for="inputPaisNacimiento">País de Nacimiento</label>
               <select class="form-control" name="inputPaisNacimiento" required ng-options="item.key as item.val for item in dominios.pais" ng-model="nvoTutor.lugar_nacimiento">
                <option value="" disabled>-- Selecione --</option>  
              </select>           
               <div class="error" ng-show="form_tutor.inputPaisNacimiento.$dirty &amp;&amp; form_tutor.inputPaisNacimiento.$error.required &amp;&amp; !form_tutor.inputPaisNacimiento.$focused">
                El campo es requerido.
              </div>
            </div>
             <div class="form-group required col-md-3">
              <label class="control-label" for="inputFechaNacimientoTutor">Fecha de Nacimiento</label>
              
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="nvoTutor.fecha_nacimiento" is-open="opened" max-date="Date()" ng-required="true" show-button-bar="false" required placeholder="dd/mm/aaaa"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
              <div class="error" ng-show="form_nvo_tutor.inputFechaNacimientoTutor.$dirty &amp;&amp; form_nvo_tutor.inputFechaNacimientoTutor.$error.required &amp;&amp; !form_nvo_tutor.inputFechaNacimientoTutor.$focused">
                El campo es requerido.
              </div>
            </div>
          </div>

          <h4 class="monserrat-color"><b>Datos de contacto: </b></h4>
          <div class="row">
              <div class="form-group required col-md-3">
                <label class="control-label" for="inputTelefonoTutor">Teléfono</label>
                <input type="text" class="form-control" name="inputTelefonoTutor" ng-model="nvoTutor.telefono" required onkeypress='return event.charCode >= 48 &amp;&amp; event.charCode <= 57'>
                 <div class="error" ng-show="form_nvo_tutor.inputTelefonoTutor.$dirty &amp;&amp; form_nvo_tutor.inputTelefonoTutor.$error.required &amp;&amp; !form_nvo_tutor.inputTelefonoTutor.$focused" >
                El campo es requerido.
              </div>
              </div>  
              <div class="form-group required col-md-3">
                <label class="control-label" for="inputEmailTutor">E-mail</label>
                <input type="email" class="form-control" name="inputEmailTutor" value="{{nvoTutor.mail}}" ng-model="nvoTutor.mail" required>
                <div class="error" ng-show="form_tutor.inputEmailTutor.$dirty &amp;&amp; form_tutor.inputEmailTutor.$error.required &amp;&amp; !form_tutor.inputEmailTutor.$focused">
                  El campo es requerido.
                </div>
              </div>
          </div>

           <h4 class="monserrat-color"><b>Datos de domicilio actual:</b></h4>
          <div class="row">
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputPais">País</label>
              <select class="form-control" name="inputPais" required ng-options="item.key as item.val for item in dominios.pais" ng-model="nvoTutor.direccion_actual.pais_id">
                <option value="" disabled>-- Selecione --</option>  
              </select>            
               <div class="error" ng-show="form_nvo_tutor.inputPais.$dirty &amp;&amp; form_nvo_tutor.inputPais.$error.required &amp;&amp; !form_nvo_tutor.inputPais.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputProvincia">Provincia</label>
               <select class="form-control" name="inputProvincia" required ng-options="item.key as item.val for item in dominios.provincia|filter:{parent: nvoTutor.direccion_actual.pais_id}" ng-model="nvoTutor.direccion_actual.provincia_id">
                <option value="" disabled>-- Selecione --</option>  
              </select> 
               <div class="error" ng-show="form_nvo_tutor.inputProvincia.$dirty &amp;&amp; form_nvo_tutor.inputProvincia.$error.required &amp;&amp; !form_nvo_tutor.inputProvincia.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputCiudad">Ciudad</label>
              <!--
               <select class="form-control" name="inputCiudad" required ng-options="item.key as item.val for item in dominios.ciudad|filter:{parent: nvoTutor.direccion_actual.provincia_id}" ng-model="nvoTutor.direccion_actual.ciudad_id">
                <option value="" disabled>-- Selecione --</option>  
              </select> 
              -->
              <input type="text" class="form-control" name="inputCiudad" ng-model="nvoTutor.direccion_actual.ciudad" required> 
               <div class="error" ng-show="form_nvo_tutor.inputCiudad.$dirty &amp;&amp; form_nvo_tutor.inputCiudad.$error.required &amp;&amp; !form_nvo_tutor.inputCiudad.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-3">
              <label class="control-label" for="inputBarrio">Barrio</label>
              <input type="text" class="form-control" name="inputBarrio" ng-model="nvoTutor.direccion_actual.barrio" required>
               <div class="error" ng-show="form_nvo_tutor.inputBarrio.$dirty &amp;&amp; form_nvo_tutor.inputBarrio.$error.required &amp;&amp; !form_nvo_tutor.inputBarrio.$focused">
                El campo es requerido.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group required col-md-4">
              <label class="control-label" for="inputBarrio">Calle</label>
              <input type="text" class="form-control" name="inputCalle" ng-model="nvoTutor.direccion_actual.calle" required>
               <div class="error" ng-show="form_nvo_tutor.inputCalle.$dirty &amp;&amp; form_nvo_tutor.inputCalle.$error.required &amp;&amp; !form_nvo_tutor.inputCalle.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group required col-md-2">
             <label class="control-label" for="inputNumero">Número</label>
              <input type="text" class="form-control" name="inputNumero" value="{{nvoTutor.direccion_actual.nro}}" ng-model="nvoTutor.direccion_actual.nro" required>
              <div class="error" ng-show="form_tutor.inputCalle.$dirty &amp;&amp; form_tutor.inputCalle.$error.required &amp;&amp; !form_tutor.inputCalle.$focused">
                El campo es requerido.
              </div>
            </div>
            <div class="form-group col-md-1">
              <label for="inputPico">Piso</label>
              <input type="text" class="form-control" name="inputPiso" ng-model="nvoTutor.direccion_actual.piso">
            </div>
            <div class="form-group col-md-1">
              <label for="inputDpto">Dpto</label>
              <input type="text" class="form-control" name="inputDpto" ng-model="nvoTutor.direccion_actual.depto">
            </div>
            <div class="form-group col-md-2">
              <label for="inputEdificio">Edificio</label>
              <input type="text" class="form-control" name="inputEdificio" ng-model="nvoTutor.direccion_actual.edificio">
            </div>
            <div class="form-group required col-md-2">
              <label class="control-label" for="inputCP">Código Postal</label>
              <input type="text" class="form-control" name="inputCP" ng-model="nvoTutor.direccion_actual.cp" required>
               <div class="error" ng-show="form_nvo_tutor.inputCP.$dirty &amp;&amp; form_nvo_tutor.inputCP.$error.required &amp;&amp; !form_nvo_tutor.inputCP.$focused">
                El campo es requerido.
              </div>
            </div>
          </div>

          <div class="row">  
            <div class="form-group col-md-12">
              <label for="inputComentarioTutor">Comentario</label>
              <textarea rows="3" style="resize:none;" class="form-control" name="inputComentarioTutor"  ng-model="nvoTutor.direccion_actual.comentario" maxlength="200" value="{{nvoTutor.direccion_actual.comentario}}"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Aceptar</button>
          </div>

        </form>
      </div> <!-- cierre de modal-body -->


    </div> <!-- cierre de modal-content -->
  </div> <!-- cierre de modal-dialog -->
</div>
